@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="~/Scripts/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Scripts/bower_components/crypto-js/crypto-js.js"></script>
</head>
<body>
    <div>

        <h1>Heimdall - WebApi Security</h1>

        <textarea id="content" style="width: 500px; height: 500px"></textarea>

        <script>
            
            function log(entry) {
                $('#content').append('\r\n');
                $('#content').append(entry);
            }

            function encrypt(data, secret) {
                var hash = CryptoJS.HmacSHA256(data, secret || '');
                var hashInBase64 = CryptoJS.enc.Base64.stringify(hash);
                return hashInBase64;
            }

            /// Http METHOD\n +
            /// Http PATH\n +
            /// Content-Type\n +  
            /// Content-MD5\n +  
            /// Timestamp\n +

            // Example GET

            var currentDate = new Date().toUTCString();
            var messageRepresentation = ['GET', '/api/values', 'application/json', '', currentDate].join('\n');

            log('GET /api/values -> ' + messageRepresentation);

            var apiKey = encrypt(messageRepresentation, 'secret');

            log('HMAC Key -> ' + apiKey);

            $.ajax({
                url: "/api/values",
                headers: {
                    'X-ApiAuth-Date': currentDate,
                    'X-ApiAuth-Username': 'username',
                    'Authorization': 'ApiAuth ' + apiKey,
                    'Content-Type': 'application/json'
                },
                type: "GET",
                success: function () { alert('Success!'); }
            });

            // Example POST

            var contentMD5 = encrypt('hello world');
            log('Content MD5 -> ' + contentMD5);

            messageRepresentation = ['POST', '/api/values', 'application/json', contentMD5, currentDate].join('\n');

            log('POST /api/values -> ' + messageRepresentation);

            apiKey = encrypt(messageRepresentation, 'secret');

            log('HMAC Key -> ' + apiKey);

            $.ajax({
                url: "/api/values",
                headers: {
                    'X-ApiAuth-Date': currentDate,
                    'X-ApiAuth-Username': 'username',
                    'Authorization': 'ApiAuth ' + apiKey,
                    'Content-Type': 'application/json',
                    'Content-MD5': contentMD5
                },
                type: "POST",
                data: 'hello world',
                success: function () { alert('Success!'); }
            });

        </script>

    </div>
</body>
</html>
