@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="~/Scripts/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Scripts/bower_components/crypto-js/crypto-js.js"></script>
    <script src="~/Scripts/heimdall.js"></script>
</head>
<body>
    <div>

        <h1>Heimdall - WebApi Security</h1>

        <textarea id="content" style="width: 500px; height: 500px"></textarea>

        <script>

            function log(entry) {
                $('#content').append('\r\n');
                $('#content').append(JSON.stringify(entry));
                $('#content').append('\r\n');
            }

            var _h = new Heimdall('', 'username', 'secret');

            _h.get('/api/values', function (err, res) {
                if (!err) {
                    log('GET Success!');
                    log(res);
                } else {
                    log('GET Error!');
                    log(err);
                }
            });

            _h.post('/api/values', 'hello world', function(err, res) {
                if (!err) {
                    log('POST Success!');
                    log(res);
                } else {
                    log('POST Error!');
                    log(err);
                }
            });

            _h.put('/api/values/1', 'hello world', function(err, res) {
                if (!err) {
                    log('PUT Success!');
                    log(res);
                } else {
                    log('PUT Error!');
                    log(err);
                }
            });

            _h.delete('/api/values/1', function (err, res) {
                if (!err) {
                    log('DELETE Success!');
                    log(res);
                } else {
                    log('DELETE Error!');
                    log(err);
                }
            });

        </script>

    </div>
</body>
</html>
